elasticsearch
torch
bs4
summarizer
farm-haystack
nltk
requests
gensim==3.8.3
SpeechRecognition
soundfile
moviepy
librosa
mutagen
pydub
fastapi
uvicorn
pandas
numpy
sklearn
pymongo[srv]
certifi
pre-commit