.result-container{
    margin-top:2rem;
    padding:20px;
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    height: 80rem;
  }
  
  .result-container::-webkit-scrollbar{
    width:3px
  }
  .result-container::-webkit-scrollbar-track{
    width:3px;
    background: #007090;
  }
  .result-container::-webkit-scrollbar-thumb{
    background: whitesmoke;
  }
  .result-list{
      width:100%;
      display: flex;
      align-items: stretch;
      justify-content: center;
      margin: 0 0 2rem 0rem;
      padding: 10px;
      border-radius:4px;
      background-color: #fff;
  }
  
  .result-list > img{
    margin-right: 10px;
    width: 50px;
    align-items: center;
    display: flex;
    height: 50px;
    border-radius:50%;
  }
  .result-title{
    font-size: 19px;
    display: block;
    color: black;
  }
  .result-description{
    width:80%;
    font-size:18px;
    font-weight: 500;
    display: flex;
    color: #000;
    text-overflow: ellipsis ;
    /*color: gainsboro;*/
  }
  .result-post-timing,.post-user-name{
    color: whitesmoke;
    font-size: 11px;
    padding-right: 10px;
  }
  .post-user-name{
    font-weight: 600;
    font-size:13px;
  }